.logo{
    font-size:60px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
}
.welcome-section{
    width:250px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome{
    font-size: 30px;
    font-family: sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url('./yellow-green-10-pct.png');
}
.getstartbtn{
    width: 150px;
    height:40px;
    border-radius:5px;
}
.getstartbtn:hover{
    padding:10px;
}
.copyrighttag{
    font-size: 16px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width:700px) {
    .copyrighttag{
        font-size: 15px;
    }
    main{
        padding:20px;
    }
}

@media (max-width:300px) {
.logo{
    font-size:40px;
}
}
.helpbutton{
    background-image: url('./help-info-solid.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    position: fixed;
    top: 0;
    margin-top: 50px;
    margin-right:30px;
    right:0;
}
.helpbutton:hover::after{
    content: "About Us";
    margin-left: -120px;
    color: black;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}